XML Basics/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="sex" type="xs:string" />
              <xs:element name="birthdate" type="xs:date" />
              <xs:element name="phone" type="xs:unsignedInt" />
              <xs:element name="mail" type="xs:string" />
              <xs:element name="course" type="xs:string" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="facultynumber" type="xs:unsignedInt" />
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="tutor">
                           <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name"  type="xs:string" />
                                <xs:element name="endorsements">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="endorsment" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                          </xs:element>
                          <xs:element name="score" type="xs:unsignedByte" />
                          <xs:element name="date" type="xs:date" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="xmlsn" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>